/* 產品圖片 */
.product-row {
  display: flex;
  flex-wrap: wrap;
}

.product-col {
  width: calc(100% / 12 * 6);
  padding-right: 4px;
  padding-left: 4px;
}

/* 產品描述 */
.del-price {
  font-size: 14px;
  font-weight: 400;
  color: var(--neutral-500);
  margin-left: 8px;
}

/* 產品顏色 */
.product-color {
  width: 64px;
  text-align: center;
  color: var(--neutral-600);
}

.btn-product-size {
  border: 1px solid var(--neutral-300);
  width: 160px;
}

.btn-product-size.active,
.btn-product-size:hover {
  border-color: var(--neutral-900);
}

/* 收藏／試穿 */
.product-action {
  display: flex;
  gap: 8px;

  & .btn {
    width: 50%;
  }

  & .bi {
    margin-right: 8px;
  }
}

/* 產品資訊 */
.product-info-title {
  font-weight: 500;
}

.product-info-item p {
  color: var(--neutral-600);
}

.product-info-item {
  border-bottom: 1px solid var(--neutral-300);
}
